.leftBar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.leftBarWrapper {
  padding: 20px;
}

.leftBarList {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.leftBarItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.leftBarIcon {
  margin-right: 15px;
}

.leftBarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.leftBarHr {
  margin: 20px 0;
}

.leftBarFriendList {
  list-style: none;
  margin: 0;
  padding: 0;
}
