.topBarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topBarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topBarCenter {
  flex: 5;
}

.searchBar {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  background-color: white;
  border-radius: 30px;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topBarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topBarLink {
  font-size: 14px;
  cursor: pointer;
  margin-right: 15px;
}

.topBarIcons {
  display: flex;
}

.topBarIconItem {
  position: relative;
  cursor: pointer;
  margin-right: 15px;
}

.topBarIconBadge {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topBarImg {
  width: 32px;
  height: 32px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 50%;
}
