.rightBarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.rightBarProfileContainerImg {
  position: relative;
  margin-right: 10px;
}

.rightBarProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightBarOnline {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: -2px;
  right: 0px;
  border: 2px solid white;
}

.rightBarUserName {
  font-weight: 500;
}
