.post {
  width: 100%;
  border-radius: 10px;
  border-radius: 10px;
  margin: 30px 0;
  -webkit-box-shadow: 0px 0px 16px -7px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -7px rgba(0, 0, 0, 0.68);
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUserName {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postTopRight {
  display: flex;
  align-items: center;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 5px;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  font-size: 15px;
  cursor: pointer;
  border-bottom: 1px dashed gray;
}
