.rightBar {
  flex: 3.5;
}

.rightBarWrapper {
  padding: 20px 20px 0 0;
}

.birthDayContainer {
  display: flex;
  align-items: center;
}

.birthDayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthDayText {
  font-size: 15px;
  font-weight: 300;
}

.rightBarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightBarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.rightBarFriendList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rightBarInfo {
  margin-bottom: 30px;
}

.rightBarInfoItem {
  margin-bottom: 10px;
}

.rightBarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightBarInfoValue {
  font-weight: 300;
}

.rightBarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightBarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightBarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.rightBarFollowButton {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #1872f2;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.rightBarFollowButton:focus {
  outline: none;
}
